@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
  margin-top: 100px;
}

.card {
  width: 18rem;
  height: 18rem;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  .card-text-category {
    color: lightblue;
    font-style: italic;
  }

  .btn {
    width: 20%;
    align-self: center;
    justify-self: flex-start;
    border-radius: 50%;
    margin: 5px;
  }
}

#home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#logout-button {
  margin-left: 10px;
}
